# Logs
logs
*.log
ndivm-debug.log*
yarn-debug.log*
yarn-error.log*
divndivm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cydivress/videos/
/cydivress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsdivroj
*.sln
*.sw?

*.tsbuildinfo
